/* General */
* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #BBB;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #264275;
    border-color: #264275;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/*Fim do body*/ 

/*Ínicio do Navbar*/ 
#navbar img {
    width: 110px;
}

#navbar { /*Parte do menu e imagem logo*/
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

#navbar a {
    font-size: 18px;
    color: #494848;
}

#navbar a:hover {
    color: #084dce;
}
/*Fim do Navbar*/

/*Início do Container Search (Procura)*/

#search-container {
    background-image: url("../img/evento01.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
    
}
#search-container h1 {
    color: #BBB;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}
/*Fim do Container Search*/

/*Início do Event List*/

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #494848;
    margin-bottom: 30px
}

#cards-container {
    display: flex;
}

#events-container .card{
    flex: 1 1 24%; /*Largura base*/
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#events-container img {
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 14px;
    color: #BAA;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

/*PARTE DA PÁGINA CREATE*/
#event-create-container {
    padding: 20px;
}

#event-create-container .form-group{
    margin-bottom: 15px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 14px;
}
/*FIM DA PÁGINA CREATE*/

/*Event Detail*/
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img{
    border-radius: 10px
}

#info-container h1{
    font-size: 36px;
    font-weight: 900;
}

#info-container p{
    margin: 0;
    font-size: 14px;
    display: flex;
    margin-bottom: 5px;
}

#info-container ion-icon{
    font-size: 20px;
    color: #264275;
    margin-right: 5px;
}

#info-container #event-submit{ /*Espaço de 20px para o top e 0 para as laterais*/
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
}

/*FIM DO EVENT LIST*/

/* */

/*Início Footer*/
footer {
    text-align: center;
    background-color: #264275;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer p {
    margin-bottom: 0;
}

/*Fim Footer*/

