/* General */
* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #BBB;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #264275;
    border-color: #264275;
}
/*Fim do body*/ 

/*Ínicio do Navbar*/ 
#navbar img {
    width: 110px;
}

#navbar { /*Parte do menu e imagem logo*/
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

#navbar a {
    font-size: 18px;
    color: #494848;
}

#navbar a:hover {
    color: #084dce;
}
/*Fim do Navbar*/

/*Início do Container Search (Procura)*/

#search-container {
    background-image: url("../img/evento01.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
    
}
#search-container h1 {
    color: #BBB;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}
/*Fim do Container Search*/

/*Início do Event List*/

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #494848;
    margin-bottom: 30px
}

#cards-container {
    display: flex;
}

#cards-container .card{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#events-container img {
    max-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 14px;
    color: #BAA;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}
/*Fim do Event List*/

/*Início Footer*/

footer {
    text-align: center;
    background-color: #264275;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer p {
    margin-bottom: 0;
}

/*Fim Footer*/

